@use "../abstracts"as *;
@use "../components"as *;

// tag selectors
html,
body {
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  //   font-size: $font_size-body;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  transition: opacity 250ms ease-in;
}

h1,
h2,
h3 {
  font-family: $font_family-heading;
  letter-spacing: 1.5;
}

a {
  text-decoration: none;
  color: $clr-accent;
  transition: opacity 250ms ease;
  &:hover{
    color: inherit;
    opacity: .9;
  }
}


img {
  display: block;
}

hr {
  background-color: #000;
  opacity: .5;
}

.icon {
  display: unset;
  width: 20px;
}


.svg {
  width: 20px;
  aspect-ratio: 1;
}


