@use "../abstracts"as *;

.courses {
  @extend .pt-scroll;

  &__row {
    &:nth-of-type(even){
      background-color: $clr-accent-light;
    }
    
    h2 {
      // padding-left: 0;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 50%;
        background-color: $clr-accent;
        display: inline-block;
        left: 0.8rem;
        bottom: 0;
        margin-top: 1rem;
        transform: scale(0.2);
        transform-origin: left;
        transition: transform 500ms ease;
      }

      &:hover {
        &::after {
          transform: scale(100%);
        }
      }
    }

  }
}

// .testimonial {
//   .container {}
// }

.quotes {
  // background-color: aqua;
  background: url("/images/dance-bg.jpg") center no-repeat fixed rgba(35, 0, 39, 0.88);;
  background-size: cover;
  background-blend-mode: overlay;
  @extend .py-section;
}
blockquote{
  color: $white;
}


.accordion-button {

  // outline: 2px solid red;
  &:focus {
    border: none;
    box-shadow: none;
  }

  &::after {
    background-color: $clr-primary;
    -webkit-mask-image: url('/images/icons/accordian_down-icon.svg');
    mask-image: url('/images/icons/accordian_down-icon.svg');
    background-image: none;
    width: 2rem;
    height: 2rem;
  }

  &:not(.collapsed) {
    color: $clr-accent;
    background-color: $clr-light;
    box-shadow: none;
    font-size: $font_size-body;
  }
}