@use "../abstracts" as *;

nav {
  // background-color: $clr-light;
  // box-shadow: inset 3px 0 3px rgba($clr-accent, 0.6);
}
.navbar {
  @extend .p-0;
}
.bg-dark{
  background-color: $clr-primary!important;
}
.navbar-brand {
  // border: 2px solid blue;
  // padding: 1rem 1.5rem;
  @extend .p-0;
  margin: 0;
  width: fit-content;
  img {
    width: clamp(13rem, 300px, 22vw);
    // outline: 2px solid red;
  }
}
.nav-link {
  color: $white!important;
  font-weight: $font_weight-medium;
}
