{{ define "main" }}

<!-- about -->

<section id="about" class="about_home my-5 py-5">
    <div class="container">

        <div class="row justify-content-between align-items-center">
            {{ range $index, $val := .Site.Taxonomies.tags.about }}
            <div class="col-md-5">
                <img src="{{.Page.Params.image}}" class="img-fluid rounded-3" alt="{{.Name}}">

            </div>
            <div class="col-md-5 mt-5 mt-md-0">
                <h1>{{ .Page.Params.title }}</h1>
                {{.Content}}
                <!-- <a href="{{ .Permalink }}" class="btn btn_primary">Know more</a> -->
            </div>


            {{end}}

        </div>

    </div>
</section>

{{ with site.Data.home.quotes }}
<section class="quotes">
    <div class="container">
        {{range first 1 .quoteItem}}
        <!-- <img class="img-fluid icon" src="/images/icons/quote-left-solid.svg" alt=""> -->
        <blockquote class="text-center d-inline-block">
            {{.title | markdownify}}
        </blockquote>
        <!-- <img class="img-fluid icon" src="/images/icons/quote-right-solid.svg" alt=""> -->

        {{end}}
    </div>
</section>
{{end}}
<!-- courses -->
<section class="courses">

        {{ range $index, $val := .Site.Taxonomies.tags.karanas }}
        <div class="courses__row row justify-content-between align-items-center">


          <div class="col-lg-5 content">
              <!-- <h2 class="courses__row-heading">{{ .Page.Params.title }}</h2> -->
                <p>{{ .Content }} </p>
          </div>
          <div class="col-lg-5">
            <img class="img-fluid rounded-3" src="{{ .Page.Params.image }}" alt="{{.Name}}">
          </div>
        </div>
        {{ end }}

</section>



{{ end }}