$white:#fff;
$clr-dark: hsl(326, 93%, 6%); //#1d0111
$clr-primary: hsl(337, 98%, 37%); //#bb0249
$clr-primary-500: hsl(338, 58%, 87%);//#f1cbd9
$clr-light: hsl(340, 60%, 96%); //#fbeff3
$clr-accent:hsl(327, 91%, 26%); //#7f0648 