$white:#fff;
$clr-dark: hsl(326, 93%, 6%); //#1d0111
$clr-primary: #8c009e; //#8c009e
$clr-accent: #5f006b; //#5f006b
$clr-accent-light: hsl(293, 100%, 92%); 
$clr-light: hsl(340, 60%, 96%); //#fbeff3