@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');
$font_family-heading: 'IM Fell French Canon', serif;
$font_size-body: 1.5rem;
$font_size-header: 2rem;
$font_weight-regular: 400;

$font_weight-medium: 500;
$font_weight-bold: 800;