// @use '../abstracts' as *;
@use 'colors' as *;
.p-0{
    padding: 0;
}
.m-1{
    margin: 1;
}
.mx-auto{
    margin-inline: auto;
}
.ml-auto{
    margin-left: auto;
}
.py-section{
    padding-block: 5rem;
}

.container {
    width: min(991px, 80%);
    @extend .mx-auto;
    // background-color: blue;
    // border: 1px solid red;
  }
// bootstrap modified
.bg_primary{
    background-color: $clr-primary-500;
}
