// @use '../abstracts' as *;
@use 'colors' as *;
.p-0{
    padding: 0;
}
.m-1{
    margin: 1;
}
.mx-auto{
    margin-inline: auto;
}
.ml-auto{
    margin-left: auto;
}
.py-section{
    padding-block: 5rem;
}
.pt-scroll{
    padding-top: 5rem;
}

.bg_primary{
    background-color: $clr-accent;
}
